header .top-section{
	background-color: rgba(0,0,0,0.5);
	float:left;
	width: 100%;
	color: #FFF;
	padding: 8px;
	margin: 0px;
	font-weight: bold;
}
header .top-bg-color{
	float:left;
	width:100%;
	height:548px;
	background: url(../images/bg.jpg);
}
.social-icon{
	background-color: #FFF;
	color: #000;
	padding: 5px 7px;
	border-radius: 15px;
}
header .userinfo{
	margin: 0px;
}
.main-container{
	float:left;
	width: 100%;
	margin: 25px;
}
.category-home-tabs{
	border-bottom: 3px solid #47b7fc!important;
	float: left;
}
.category-home-tabs li a{
	border-radius:0px!important;
	color: #FFF!important;
	background-color: #3b4247;
	font-size: 16px;
}
.category-home-tabs li.active a, .category-home-tabs li a:hover{
	background-color: #47b7fc!important;
	border-bottom: 0px;
}
.tab-content{
	margin-top: 10px!important;
	float: left;
	width: 100%;
}
.property-list-info{
	border-bottom: 1px dashed #CCC;
}
.property-list-info .property-image img{
	width: 100%;
	margin-top: 10px;
}

.property-list-info .left-shor-info{
	border-right: 1px dashed #CCC;
}
.property-list-info .right-shor-info{
	padding: 10px;
}

